@media screen {
    @media(max-width: 1700px) {
        progress[value]::-webkit-progress-bar {
            width: 800px;
        }
    }

    @media(max-width: 1600px) {
        progress[value]::-webkit-progress-bar {
            width: 700px;
        }
    }

    @media(max-width: 1450px) {
        progress[value]::-webkit-progress-bar {
            width: 650px;
        }
    }

    @media(max-width: 1400px) {
        progress[value]::-webkit-progress-bar {
            width: 600px;
        }
    }

    @media(max-width: 1250px) {
        progress[value]::-webkit-progress-bar {
            width: 550px;
        }
    }

    @media(max-width: 1200px) {
        progress[value]::-webkit-progress-bar {
            width: 500px;
        }
    }

    @media(max-width: 1100px) {
        progress[value]::-webkit-progress-bar {
            width: 450px;
        }
    }

    @media(max-width: 1000px) {
        progress[value]::-webkit-progress-bar {
            width: 400px;
        }
    }

    @media(max-width: 900px) {
        progress[value]::-webkit-progress-bar {
            width: 350px;
        }
    }

    @media(max-width: 850px) {
        progress[value]::-webkit-progress-bar {
            width: 300px;
        }
    }

    @media(max-width: 750px) {
        progress[value]::-webkit-progress-bar {
            width: 250px;
        }
    }

    @media(max-width: 700px) {
        header {
            font-size: 15px;
        }

        input {
            width: 30%;
        }
     
        .infoContainer img {
            height: 200px;
        }
    }

    @media(max-width: 650px) {
        progress[value]::-webkit-progress-bar {
            width: 200px;
        }
    }

    @media(max-width: 600px) {
        header {
            font-size: 10px;
        }

        input {
            height: 20px;
        }

        progress[value]::-webkit-progress-bar {
            width: 170px;
        }
    }

    @media(max-width: 500px) {
        header {
            font-size: 8px;
        }

        input {
            height: 20px;
        }

        .card {
            width: 80%;
        }

        .dialog {
            width: 90%;
            top: 0;
            height: 50vh;
        }

        .infoContainer {
            width: 90%;
            margin-top: unset;
            position: absolute;
            top: 230px;
            height: 100%;
        }

        .infoContainer img {
            height: 170px;
        }

        progress[value]::-webkit-progress-bar {
            width: 250px;
        }
    }

    @media(max-width: 450px) {
        progress[value]::-webkit-progress-bar {
            width: 230px;
        }
    }

    @media(max-width: 420px) {
        progress[value]::-webkit-progress-bar {
            width: 190px;
        }
    }

    @media(max-width: 380px) {
        progress[value]::-webkit-progress-bar {
            width: 160px;
        }
    }
}